@import "tailwindcss";

:root {
 
  --color-orange: #E76814;
  --color-light-gray: #D8D4BC;
  --color-dark-red: #891A10;
  --color-amber: #DC8236;
  --color-red: #B8210F;
  --color-brown: #714236;

 
  --background: var(--color-light-gray);
  --bg-dark: #C2BDA1;
  --text: #2C1810;
  --text-muted: var(--color-brown);
  --highlight: #FFFFFF;
  --border: var(--color-brown);
  --border-muted: #9E7D73;
  
  --primary: var(--color-orange);
  --secondary: var(--color-red);
  --danger: var(--color-red);
  --warning: var(--color-amber);
  --success: #4E7C59;
  --info: #3E688C;
}


[data-theme="warm"] {
  --background: var(--color-amber);
  --primary: var(--color-dark-red);
}

[data-theme="cozy"] {
  --background: var(--color-brown);
  --text: #FBEAD6;
  --primary: var(--color-orange);
}

@theme inline {
  --color-background: var(--background);
  --color-footer: var(--bg-dark);
  --color-text: var(--text);
  --color-button: var(--primary);
  --color-button-hover: var(--secondary);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-highlight: var(--highlight);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}