@import "tailwindcss";

:root {
  --background: oklch(0.96 0.085 306);
  --bg-dark: oklch(0.92 0.085 306);
  --text: oklch(0.15 0.17 306);
  --text-muted: oklch(0.4 0.17 306);
  --highlight: oklch(1 0.17 306);
  --border: oklch(0.6 0.17 306);
  --border-muted: oklch(0.7 0.17 306);
  --primary: oklch(0.4 0.17 306);
  --secondary: oklch(0.4 0.17 126);
  --danger: oklch(0.5 0.17 30);
  --warning: oklch(0.5 0.17 100);
  --success: oklch(0.5 0.17 160);
  --info: oklch(0.5 0.17 260);
}


@theme inline {
  --color-background: var(--background);
  --color-footer: var(--bg-dark);
  --color-text: var(--text);
  --color-button: var(--primary);
  --color-button-hover: var(--secondary);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-highlight: var(--highlight);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
